@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

html,
body {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    width: 100%;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

.container-fostrap {
    display: table-cell;
    background-color: #b1ade2;
    background-image: linear-gradient(315deg, #b1ade2 0%, #7ddff8 74%);
    padding: 1em;
    text-align: center;
    vertical-align: middle;
}

h1.heading {
    color: #fff;
    font-size: 2.15em;
    font-weight: 900;
    margin: 0 0 0.5em;
    color: #505050;
     text-shadow:0px 4px 5px rgba(0,0,0,0.31);
}

@media (max-width: 450px) {
    h1.heading {
        font-size: 3.55em;
    }
}

@media (max-width: 760px) {
    h1.heading {
        font-size: 3.05em;
    }
}

@media (max-width: 900px) {
    h1.heading {
        font-size: 3.25em;
        margin: 0 0 0.3em;
    }
}

.card {
    display: block;
    width: auto;
    margin: 20px;
    line-height: 1.42857143;
    border-radius: 8px;
    min-width: 15rem;
    min-height: 300px;
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.card img {
    width: 65%;
    border-radius: 20%;
    margin: 0 auto;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.cfont {
    font-family: 'Arimo', sans-serif;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.gbtn {
    margin-top: 8px;
    font-size: 1.2rem;
    transition: 0.5s ease;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.gbtn:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



.navbar {
    background-color: black;
    opacity: 0.9;
    z-index: 999;
    width: 100%;
}

.navbar::before {
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    z-index: -1;
}

.nav-item a {
    color: white;
    font-weight: 500;
    font-size: 17px;
    transition: 0.5s ease;
}

.nav-item a:hover {
     
    color: rgb(0, 195, 255);
    font-weight: bold;
 
}

.navbar-brand {
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.nav-item {
    margin-right: 20px;
}

/* -------------counter------------------ */
.counter {

    width: max-content;
    margin: 0;
    padding: 0;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

@media (min-width: 1008px) {
    .counter {
        margin-left: 33vw;
    }

}

i{
    font-size: 30px;
    color: black;
    margin-right: 15px;
}




@keyframes drop {
    10% {
        opacity: 0.5;
    }

    20% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }

    80% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }

    90% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
        top: 6.94em
    }
}