@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}


.btn2 {
    margin-left: 85px
}

#button:hover {
    color: white;
    background-color: black;
}

.navbar {
    background-color: black;
    z-index: 999;
}

.navbar::before {
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    z-index: -1;
}

.nav-item a {
    color: white;
    font-weight: 500;
    font-size: 17px;
    transition: 0.5s ease;
}

.nav-item a:hover {
    color: rgb(0, 195, 255);
    border-bottom: 1px solid rgb(0, 195, 255);
}

.navbar-brand {
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.nav-item {
    margin-right: 20px;
}

.center {
    width: 100vw;
    height: 100vh;
    background-color: #f9c1b1;
    background-image: linear-gradient(315deg, #f9c1b1 0%, #fb8085 74%);
}

.box {
    margin: 20px;
    width: 600px;
    height: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

#bgc {
    border-bottom: 2px solid black;
    font-size: 25px;
}


.gbtn {
    margin: 25px 25px;
    font-size: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.gbtn:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Smalltxt {
    font-size: 20px;
    font-weight: 500;
}

#password {
    padding: autp 5px;
    user-select: none;
    height: 50px;
    width: auto;
    border-radius: 6px;
    border: none;
    border: 2px solid #13061d;
    outline: none;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    transition: 0.5s ease-in-out;
}

#password::placeholder {
    font-size: 23px;
    text-align: center;
}

@media screen and (max-width: 250px) {
    #password {
        width: 150px;
        font-size: 15px;
    }

    #password::placeholder{
        font-size: 15px;
    }
}

p {
text-align: left;
font-size: 15px;
background-color: rgb(227, 238, 197);
}

#typeNumber {
    display: inline;
    width: 65px;
    border: 2px solid black;
}


#toast {
    position: absolute;
    bottom: 0;
    border-radius: 5px;
    padding: 15px 50px;
    background: black;
    opacity: 0;
    color: white;
    font-weight: 500;
    visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: 0.3s;
}

#toast.show {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
    bottom: 50px;
}